@{
  Layout = "_Layout";
}

<h1>Welcome to the Library!</h1>
<button>@Html.ActionLink("See all books", "Index", "Books")</button>
<button>@Html.ActionLink("See all authors", "Index", "Authors")</button>
<button>@Html.ActionLink("Login", "Login", "Account")</button>
<button>@Html.ActionLink("Create an account", "Index", "Account")</button>
<button>@Html.ActionLink("Search","Search")</button>