@{
  Layout = "_Layout";
}
@model Library.Models.Author

<h1>Edit</h1>
<h2>Edit the following Author: @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.AuthorId)
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  @Html.Label("Select book")
  @Html.DropDownList("BookId")
  <input type="submit" value="Save"/>
}

<button>@Html.ActionLink("Home", "Index", "Home")</button>
<button>@Html.ActionLink("All authors", "Index")</button>
<button>@Html.ActionLink("All books", "Index", "Books")</button>